# Add any directories, files, or patterns you don't want to be tracked by version control
# Package Files #
*.jar
*.war
*.ear

.classpath
.project
.settings/
target/
WebContent/
/nbproject/
/nb-configuration.xml
/src/main/webapp/META-INF/

# ignore directory
**/.project
**/.settings
**/target
**/INSTALL
